@model Peak9.Models.Success
@{Layout = null;}

<div class="text-center">
    <img src="@Model.Img" class="img-circle" style="width:100px; height:100px;" />
    <h2>@Model.Title</h2>
    <a href="@Model.Url" target="_blank" class="btn btn-success">Let's Talk</a>
</div>